@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "DM sans", sans-serif;
}

:root {
  --primaryColour: #161616;
  --SecondaryColour: #f3f3f3;
  --LightBackground: #ffffff;
  --orange: #ff3d00;
  --inactiveColour: #686666;
  --FontFamily: "DM sans", sans-serif;
  --Regular: 400;
  --Medium: 500;
  --bold: 800;
  --containerWidth: 580px;
  --containerMinHeigth: 50px;
  --Size: 18px;
  /* Fonr the tests  */
  --color: red;
}

body {
  padding-left: 30px;
  padding-right: 30px;
}

header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-top: 60px;
  margin-bottom: 10px;
}
header nav {
  min-width: 580px;
  width: fit-content;
  min-height: 62px;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 25px;
  -webkit-box-shadow: 1px 11px 17px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 11px 17px 5px rgba(0, 0, 0, 0.15);
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
}
header nav .navlinks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  list-style: none;
}
header nav .navlinks .navPills {
  min-width: 150px;
  width: fit-content;
  height: 35px;
  border-radius: 15px;
  border: none;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .navlinks .navPills a {
  font-family: "DM sans", sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: #161616;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
header nav .navlinks .navPills a:hover {
  color: #ffffff;
}
header nav .navlinks .navPills:hover {
  background-color: #161616;
  color: #ffffff;
  transition: all ease-in-out 0.3s;
}

.offer,
.sold,
.recharge {
  background-color: #161616 !important;
}
.offer a,
.sold a,
.recharge a {
  color: #f3f3f3 !important;
}

/** (g
- il ya un problème d'exécution quelque part que je dois fix , je ne devrais pas à mettre de simportant 
- partout pour que ca fonctionne 
**/
main {
  width: 100%;
  min-height: 80vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 30px;
  margin-bottom: 10px;
}
main h1 {
  font-family: "DM sans", sans-serif;
  text-align: center;
}
main h2 {
  font-family: "DM sans", sans-serif;
  font-size: 20px;
}
main .selectingBox {
  width: 100%;
}
main .selectingBox form {
  display: flex;
  justify-content: center;
  gap: 1200px;
}
main .selectingBox form input[type=radio] {
  width: 20px;
  height: 20px;
  transition: 0.2s all linear;
}
main .selectingBox form input[type=radio]:checked {
  border: 6px solid black;
}
main .containers {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  gap: 100px;
}
main .containers .inputContainer {
  transition: all ease-in-out 1s;
  transform: scale(1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 580px;
  min-height: 268px;
  height: fit-content;
  background-color: #f3f3f3;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
main .containers .inputContainer form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .containers .inputContainer form input[type=text] {
  width: 480px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #c7bfbf;
  padding-left: 10px;
  padding-right: 10px;
}
main .containers .inputContainer form input[type=text] ::placeholder {
  color: #686666;
  font-size: 10px;
  font-family: "DM sans", sans-serif;
}
main .containers .inputContainer form input[type=text] :invalid {
  border: 1px solid red;
  transition: all ease-in-out 1s;
}
main .containers .inputContainer form select {
  width: 480px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #c7bfbf;
  padding-left: 10px;
  padding-right: 10px;
}
main .containers .inputContainer form select ::placeholder {
  color: #686666;
  font-size: 10px;
  font-family: "DM sans", sans-serif;
}
main .containers .inputContainer form select :invalid {
  border: 1px solid red;
  transition: all ease-in-out 1s;
}
main .containers .inputContainer form .submit {
  width: 110px;
  height: 38px;
  border-radius: 15px;
  outline: none;
  border: 1px solid transparent;
  background-color: #161616;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .containers .disabled {
  color: #686666;
  transition: all ease-in-out 400ms;
  transform: scale(0.9);
  opacity: 0.3;
}
main .containers .disabled input:disabled {
  pointer-events: none;
}

footer {
  background-color: transparent;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=global_style.css.map */
